body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
}
#main{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 729px;
}
.upper-body{
    
 background-color: #6943FF;
color: #FFFFFF;
    
 height: 285px;
 width: 550px;   
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
}
#heading{
    width: 448px;
    height: 38px;
    font-size: 28px;
    line-height: 38px;
    font-weight: bold;
    font-style: normal;
    font-family: "Inter", sans-serif;
    margin-bottom: 0;
}
#inp{
    all: unset;
    text-align: center;
    margin-top: 0px;
    width: 117px;
    height: 83px;
    border: 1px solid #B295FF;
    background-color: #6943FF;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-size: 58px;
    font-weight: bolder;
}
#btn{
    border: none;
    width: 117px;
    height: 42px;
    background-color: #FFFFFF;
    font-size: 16px;
    color: #3D3D3D;
    font-family: "Inter", sans-serif;
    border-radius: 5px;
    font-weight: 400;
}
.info{
    text-align: center;
    margin-top:25px;
    margin-bottom: 5px;
    height: 108px;
    width: 500px;
    background-color: #273549;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.para{
    margin-top: 30px;
    margin-bottom: 4px;

    width: 346px;
    height: 25px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #CCC1FF;
    font-weight: 500;
    line-height: 20px;
}
.smpara{

    width: 346px;
    height: 25px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}


